:root {
    --main: #333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    font-weight: 700;
}

main {
    flex: 1;
}

main h1 {
    font-weight: 900;
}

main img {
    max-width: 1000;
}

main p {
    font-weight: 300;
}

footer {
    font-weight: 300;
}