.customh1 {
    font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 70px;
}
.customspan {
    font-family: 'Devonshire', cursive;
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    .customh1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
        font-size: 40px;
    }
    .customspan {
        font-family: 'Devonshire', cursive;
    }
  }